.Combobox-Reset {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: var(--list-item-hover);
  }
}

.Options-Container {
  width: 100%;
  border: 1px solid grey;
  border-radius: 12px;
  box-shadow: 0px 0px 2px var(--primary);
  overflow: auto;
  max-height: 200px;
}
.Options-List {
  background-color: var(--bg);
  list-style: none;
}
.Options-Item {
  padding: calc(var(--spacing) * 2);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    background-color: var(--list-item-hover);
  }
}
.Options-ItemActive {
  font-weight: 700;
  background-color: var(--list-item-hover);
}
.Options-NoOptions {
  padding: calc(var(--spacing) * 2);
}
