.Combobox-Reset {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-lighter);
  }
}

.Combobox-Container {
  width: 100%;
  overflow: auto;
}
.Combobox-List {
  background-color: var(--bg);
  list-style: none;
}

.Combobox-NoOptions {
  padding: calc(var(--spacing) * 2);
}
