.Input {
  &-root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 300px;
    margin-bottom: calc(var(--spacing) * 2);

    &.Input-fullWidth {
      width: 100%;
    }

    &.Input-Disabled {
      opacity: 0.5;
    }
  }

  &-label {
    width: 100%;
    margin-bottom: calc(var(--spacing) * 2);

    text-align: left;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;

    .Input-withError > & {
      color: var(--error);
    }
  }
  &-field {
    width: 100%;
    height: 44px;
    padding: var(--spacing) calc(var(--spacing) * 2);
    padding-right: calc(var(--spacing) * 9);
    outline: none;
    border: 1px solid var(--border);
    border-radius: calc(var(--brs) * 0.75);

    font-size: 1rem;
    text-overflow: ellipsis;

    &:focus,
    &:active {
      box-shadow: 0px 0px 4px var(--primary);
      border-color: var(--primary);
    }
    &:disabled {
      pointer-events: none;
    }

    .Input-withError & {
      border-color: var(--error);
      &:focus,
      &:active {
        box-shadow: 0px 0px 4px var(--error);
        border-color: var(--error);
      }
    }
  }

  &-fieldContainer {
    width: 100%;
    position: relative;
  }
  &-fieldEndItem {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate3d(0, -50%, 0);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-HelperText {
    font-size: 0.8rem;

    .Input-withError > & {
      color: var(--error);
    }
  }
}
