@use 'sass:color';

$primary: #a855f7;
$error: #b91c1c;
$bg: #fff;
$border: #475569;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*Colors*/
  --primary: #{$primary};
  --error: #{$error};
  --bg: #{$bg};
  --border: #{$border};

  --primary-lighter: #{color.mix($primary, white, 10%)};
  --primary-darker: #{color.mix($primary, black, 90%)};

  /*Sizes*/
  --spacing: 0.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
