.Combobox-Item {
  padding: calc(var(--spacing) * 2);

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  &:not(:last-of-type) {
    border-bottom: 1px solid var(--border);
  }
  &:hover {
    background-color: var(--primary-lighter);
  }
}
.Combobox-ItemActive {
  font-weight: 700;
  background-color: var(--primary-lighter);
}
